extends ../../layouts/default.pug


block main
    p This is the admin products page.

    table.table.table-hover.table-sm
        thead
            tr
                th STT
                th Hình ảnh
                th Tên sản phẩm
                th Giá
                th Trạng thái
                th Hành động

        tbody
            tr


