doctype html
html
    head
        title #{pageTitle}
        link(rel='stylesheet', href='/admin/css/style.css')
        //first "/" direct to public folder
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    body
        include ../partials/header.pug
        .body
            include ../partials/sidebar.pug
            .main
                block main

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')