/*Header*/
.header{
    background-color: #000000;
    padding:10px 0;
    position: sticky;
    top:0;
    z-index: 999;
}
.header .inner-logo a{
    font-size:20px;
    font-weight: 700;
    color:#fff;
    padding-left: 15px;
}
/*End Header*/

/*Body*/
.body.main{
    margin:15px;
    position: relative;
    left:150px;
    width:calc(100% - 120px);
}

.body .sidebar{
    width:150px;
    background: #1b2a33;
    color:#fff;
    position: fixed;
    top:65px;
    left:0;
    height: calc(100% - 56px);
}
.body .main {
    margin: 15px;
    position: relative;
    left: 150px;
    width: calc(100% - 120px);
}
/*End Body*/

/*Sidebar*/

.sidebar .inner-menu ul{
    padding:0;
    margin:0;
    list-style:none;
}
.sidebar .inner-menu ul li a{
    list-style:none;
    display: block;
    padding:6px 10px;
    border-bottom: 1px solid #515151;
}
.sidebar .inner-menu ul li a:hover{
    background: #3f5267;
    color:#fff;
}
/*End Sidebar*/