mixin search(keyword)
    form(id='form-search')
        .input-group
            input.form-control(type='text' name='keyword' placeholder='Tìm kiếm sản phẩm' value=keyword)
            .input-group-append
                button.btn.btn-success(type='submit') Tìm kiếm