doctype html
html
    head
        title #{title}
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css", rel="stylesheet")
        script(src='/js/script.js')
        link(rel='stylesheet', href='/css/style.css')
    body
        include ../partials/header
        block main
        include ../partials/footer
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js", rel="stylesheet")
        link(href="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js", rel="stylesheet")
