mixin sort()
    div(sort).d-flex.align-items-center.gap-2
        select.form-control(name='sort' sort-select)
            option(value='createdAt-desc' selected=true) Mới nhất
            option(value='createdAt-asc') Cũ nhất
            option(value='title-asc') Tên A-Z
            option(value='title-desc') Tên Z-A
            option(value='price-asc') Giá tăng dần
            option(value='price-desc') Giá giảm dần
        button.btn.btn-primary.mt-0(sort-clear) Clear
