.header
    .container-fluid
        .row.align-items-center
            .col-3
                .inner-logo
                    //img(src='/images/logoAdmin.png', alt='logo')
                .name
                    h1 Admin
            .col-9

