.header header
    .container-fluid
        .row.align-items-center
            .col-3
                .inner-logo
                    //img(src='/images/logoAdmin.png', alt='logo')
                    a(href='/admin/dashboard') ADMIN
            .col-9

